/*
创建时间：2017年7月2号
创建人：尘埃
*/
*{
	 margin:0px;
	 padding:0px;
	 outline:none;
	}
.main{ 
	 margin:0 auto;
	 max-width:640px;
	 min-width:320px;
	}
li{
	 list-style:none;
} 
a{   
	 color:#fff;
	 text-decoration:none;
	 font-family:"microsoft yahei",Microsoft Yahei;
}
body{
	 color:#000;
	 height:100%;
	 font-size:14px;
	 cursor:pointer;
	 font-family:"microsoft yahei",Microsoft Yahei;
}
/*清除浮动*/
.clearfix:before,.clearfix:after{content:".";
display:block;visibility:hidden;height:0;line-height:0;font-size:0;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}
.clear{clear:both;height:0;overflow:hidden;}
/*浮动*/
.fl{float:left;}
.fr{float:right;}
.fn{float:none;}
/*面板头部*/
.mb_head{
	width:100%;
	height:80px;	
	background:#BB010F url(../img/1.png)no-repeat 0% center;
	background-size:8%;
}
.mb_head2{
	color:#fff;
	height:45px;
	margin:0 auto;
    font-size:13px;
    line-height:45px;
}
.mb_head_fl{
	width:50%;
    height:45px;
    text-indent:9%;
}
.mb_head_fr{
    width:50px;
    height:45px;
}
.mb_menu{
	width:83%;
    height:35px;	
    margin:0 auto;
}
.mb_menu>li{
	float:left;
	cursor:pointer;
	margin-left:8px;
	line-height:35px;
	padding-left: 8px;
	border-radius:4px 4px 0 0;
	background:#F8001F;
}
.mb_menu .hover{
	background: #EEF2F3	;
}
.mb_menu>li>span{
	font-size:14px;
	font-weight:bold;
	padding:0 15px 0 7px;
}
/*中心*/
.mb_left{
	width:10px;
	height:863px;
	position:relative;
	display:block;
	overflow:hidden;
	background:#F7FBFC;
}
.mb_left.hover{
	width:145px;
}
.mb_left .hover{
	display: block;
}
.mb_scroll{
	width:124px;
	height:845px;
	overflow:hidden;
	margin-top:10px;
	padding:0 2px 0 10px;
	display:none;
}

.mb_information>h3{ 
	height:25px;
	font-size:14px;
	line-height:25px;
	margin-bottom:5px;
	border-bottom:1px solid #d9e4ea;
}
.mb_display{
	width:15px;
	height:15px;
	float:right;
	display:block;
	margin-top:5px;	
	background:url(../img/4.png)no-repeat center center;
	background-size:50%;
}
.mb_display.hover{
	background:url(../img/2.png)no-repeat center center;
	background-size:90%;
}
.mb_modify>li{
	color:#444;
	width:128px;
	height:24px;
	font-size:13px;
	line-height:24px;
    padding-left:8px;
    cursor:pointer; 
    display: block;
	margin-right:1px;
}
.mb_modify>li.hover{
	border: 1px solid rgb(194, 209, 216);
	border-radius: 5px 0px 0px 5px;
	background: rgb(255, 255, 255);
}
#mb_open{
	width:10px;
	position: absolute;
	right:0;
	top:0;
	height:893px;
	border-left:1px solid #c2d1d8;
	background:#E2E9EA url(../img/4.png) no-repeat -28px center;
}
#mb_open:hover{
	background-color: #d6e1e4;
}
#mb_open.hover{
	background-position: 2px center;
}
.mb_hidden{
	display:none;
}
/*右边*/
.mb_right{
	height:863px;
	overflow:hidden;
    background:#E2E9EA;
}
.mb_position{
	height:22px;
	line-height:22px;
	padding:6px 0 0 18px;
	background:#E2E9EA url(../img/3.png)no-repeat 0px 70%;
	background-size:15px;
}
/*右下方信息公告*/
.mb_notice{
	height:763px;
	display: none;
	background:#fff;
    border:1px solid #f4f6f5;
}
.mb_notice.hover{
	display: block;
}
.mb_notice2>div{
	padding: 10px;
	display: none;
}
.mb_notice2>.hover{
	display: block;
}
#mb_all{
	height:763px;
	background:#fff;
	padding:10px 0 0 10px;
}
.mb_wode{
	width:48%;
	border:1px solid #C7D8EA;
}
.mb_wode>h6{
	color:#111;
	height:26px;
	line-height:28px;
	padding:0 10px;
	background-image:repeating-linear-gradient(180deg,#E7F0F9,#fff);
	border-bottom:1px solid #C7D8EA;
}
.mb_jieshao{
	color:#444;
	font-size:12px;
	margin-top:5px;
	padding:9px 10px;
}
.mb_jieshao>p{
	margin-bottom:5px;
}
.mb_wode2{
	margin-top:10px;
}
/*面板用户名*/
#mb_user{
	display:none;
    padding:15px 0 0 10px;
}
.mb_user1{
    font-size:12px;
}
.mb_user1 tr td{
	padding:4px 0px 4px 8px;
	border-bottom:1px solid #eee;
}
.mb_user1 input{
	height:18px;
	margin:0 5px 0 0;
	padding:2px 0 2px 5px;
	border:1px solid #d0d0d0;
}
.mb_user1 select{
	color:#333;
    padding:2px;
	vertical-align:middle;
    background:none repeat scroll 0 0 #F9F9F9;
    border:1px solid #666;
	border-top-color:#ccc ;
	border-bottom-color:#ccc ;
}
.mb_xx{
	vertical-align: middle;
	line-height: 18px;
    padding: 2px 10px 2px 23px;
    margin-left: 10px;
    background-size:15px;
}
.mb_xm{
	
	background:url(../img/5.png)no-repeat 0 center;
}
.mb_email{
	background: url(../img/6.png)no-repeat 0 center;
}
.mb_tijiao{
	height:25px;
	margin-top:35px;
    border-bottom:1px solid #666;
    border-right:1px solid #666;
    padding:2px 2px;
}
/*面板修改密码*/
#mb_password{
	display:none;
    padding:15px 0 0 10px;
}